setuptools
pandas
numpy
matplotlib
seaborn
scikit-learn
imbalanced-learn
xgboost
prophet
statsmodels
sqlalchemy
psycopg2-binary
scipy
mlflow==2.13.0
joblib
fastapi
uvicorn[standard]
streamlit
requests
pydantic
aiohttp
prometheus-client
python-json-logger